
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

* {
    text-decoration: none;
    font-family: "El Messiri";
    color: white;
}

html, body {
    min-height: 100%;
    text-align: left;
}
body{
    background:  rgb(0, 36, 28);
    background-repeat: no-repeat;
}
p{
    margin: 16px auto;
    line-height: 1.5em;
}
footer p {
    background:  rgb(0, 36, 28);
    text-align:center;
    color: pink;
    margin: 250px 20px 20px; 
    /* border-top: 1px solid pink;
    padding-top: 20px; */
}